body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-color: #FFFFFF;
    margin: 20px;
}

p {
    line-height: 21px;
}

h1 {
    color: #FFFFFF;
    background-color: #C3E0EA;
    font-size: 2em;
    text-align: center;
    letter-spacing: 0.1em;
    border-bottom-style: solid;
    border-bottom-width: 0.2em;
    border-bottom-color:  #FF9757;
}

h2 {
    color: #FFFFFF;
    background-color:  #FF9757;
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
    padding-left: 14px;
}

